/* line 1, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button {
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: whitesmoke;
}

/* line 9, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button:hover {
  background-color: #ebebeb;
}

/* line 13, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-info {
  background-color: #18c5e4;
  color: white;
}

/* line 17, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-info:hover {
  background-color: #1ca5bd;
}

/* line 22, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-primary {
  background-color: #9314ce;
  color: white;
}

/* line 26, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-primary:hover {
  background-color: #560e77;
}

/* line 31, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-success {
  background-color: #0ed339;
  color: white;
}

/* line 35, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-success:hover {
  background-color: #0a631d;
}

/* line 40, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-danger {
  background-color: #e0371a;
  color: white;
}

/* line 44, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-danger:hover {
  background-color: #701c0d;
}

/* line 49, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-warning {
  background-color: #e4e118;
  color: white;
}

/* line 53, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-warning:hover {
  background-color: #9b9800;
}

/* line 58, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-link {
  background-color: #18e4b1;
  color: white;
}

/* line 62, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-link:hover {
  background-color: #0d795e;
}

/* line 67, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-size-xlarge {
  font-size: 2rem;
  padding: 1.75rem 2rem;
}

/* line 72, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-size-large {
  font-size: 1.5rem;
  padding: 1.25rem 1.5rem;
}

/* line 77, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-size-medium {
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
}

/* line 82, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-size-small {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

/* line 87, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-opacity-medium {
  opacity: 50%;
}

/* line 91, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-opacity-high {
  opacity: 75%;
}

/* line 95, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.button.button-opacity-low {
  opacity: 25%;
}

/* line 103, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox {
  accent-color: #9b59b6;
}

/* line 106, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-info {
  accent-color: #18c5e4;
}

/* line 110, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-primary {
  accent-color: #9314ce;
}

/* line 114, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-success {
  accent-color: #0ed339;
}

/* line 118, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-danger {
  accent-color: #e0371a;
}

/* line 122, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-warning {
  accent-color: #e4e118;
}

/* line 126, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-link {
  accent-color: #18e4b1;
}

/* line 130, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-small {
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 138, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-primary-size {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 146, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-medium {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 154, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.checkbox.checkbox-large {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

/* line 163, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  --box-shadow-color: rgb(0, 0, 0);
  box-shadow: 0 0 0 2px var(--box-shadow-color);
  border: 3px solid white;
  transition: 0.2s;
}

/* line 175, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox:checked {
  background-color: black;
}

/* line 181, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.classic-checkbox-small {
  width: 0.75rem;
  height: 0.75rem;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
  border: 2px solid white;
}

/* line 188, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.classic-checkbox-medium {
  width: 1.375rem;
  height: 1.375rem;
  box-shadow: 0 0 0 3px var(--box-shadow-color);
  border: 4px solid white;
}

/* line 195, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.classic-checkbox-large {
  width: 1.675rem;
  height: 1.675rem;
  box-shadow: 0 0 0 4px var(--box-shadow-color);
  border: 5px solid white;
}

/* line 202, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-info {
  --box-shadow-color:rgb(24, 197, 228);
}

/* line 205, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-info:checked {
  background-color: #18c5e4;
}

/* line 210, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-primary {
  --box-shadow-color:rgb(147, 20, 206);
}

/* line 213, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-primary:checked {
  background-color: #9314ce;
}

/* line 218, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-success {
  --box-shadow-color:rgb(14, 211, 57);
}

/* line 221, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-success:checked {
  background-color: #0ed339;
}

/* line 226, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-danger {
  --box-shadow-color:rgb(224, 55, 26);
}

/* line 229, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-danger:checked {
  background-color: #e0371a;
}

/* line 234, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-warning {
  --box-shadow-color:rgb(228, 225, 24);
}

/* line 237, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-warning:checked {
  background-color: #e4e118;
}

/* line 242, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-link {
  --box-shadow-color:rgb(24, 228, 177);
}

/* line 245, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.classic-checkbox.checkbox-link:checked {
  background-color: #18e4b1;
}

/* line 253, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio {
  accent-color: #9b59b6;
}

/* line 256, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-info {
  accent-color: #18c5e4;
}

/* line 260, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-primary {
  accent-color: #9314ce;
}

/* line 264, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-success {
  accent-color: #0ed339;
}

/* line 268, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-danger {
  accent-color: #e0371a;
}

/* line 272, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-warning {
  accent-color: #e4e118;
}

/* line 276, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-link {
  accent-color: #18e4b1;
}

/* line 280, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-small {
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 288, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-primary-size {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 296, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-medium {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 304, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.radio.radio-large {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

/* line 315, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* line 321, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 25px;
  position: relative;
}

/* line 332, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 19px;
  transition: 0.3s;
}

/* line 344, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch:checked + .rounded-switch-label {
  background: #bada55;
}

/* line 348, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch:checked + .rounded-switch-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

/* line 353, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label:active:after {
  width: 30px;
}

/* line 357, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-small {
  width: 30px;
  height: 15px;
  border-radius: 15px;
}

/* line 362, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-small::after {
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 11px;
}

/* line 370, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-small:active:after {
  width: 20px;
}

/* line 375, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch:checked + .rounded-switch-label-small:after {
  left: calc(100% - 2px);
}

/* line 379, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-medium {
  width: 76px;
  height: 38px;
  border-radius: 38px;
}

/* line 384, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-medium::after {
  top: 4px;
  left: 4px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* line 392, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-medium:active:after {
  width: 50px;
}

/* line 397, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch:checked + .rounded-switch-label-medium:after {
  left: calc(100% - 4px);
}

/* line 401, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-large {
  width: 100px;
  height: 50px;
  border-radius: 50px;
}

/* line 406, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-large::after {
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

/* line 414, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch-label-large:active:after {
  width: 70px;
}

/* line 419, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.rounded-switch:checked + .rounded-switch-label-large:after {
  left: calc(100% - 5px);
}

/* line 427, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input {
  font-size: 1rem;
  color: #161817;
  padding: 0.675rem 1rem;
  border-radius: 4px;
  border: 1px solid #312e2e;
  margin-bottom: 0.5rem;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

/* line 438, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input:focus {
  outline: 2px solid rgba(219, 12, 12, 0.6);
  border: 1px solid #b10e0e;
}

/* line 443, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-info {
  border-color: #18c5e4;
}

/* line 446, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-info:focus {
  outline-color: rgba(0, 217, 255, 0.6);
}

/* line 451, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-primary {
  border-color: #9314ce;
}

/* line 454, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-primary:focus {
  border-color: rgba(174, 0, 255, 0.6);
}

/* line 459, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-success {
  border-color: #0ed339;
}

/* line 462, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-success:focus {
  border-color: rgba(0, 255, 55, 0.6);
}

/* line 467, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-danger {
  border-color: #e0371a;
}

/* line 470, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-danger:focus {
  border-color: rgba(255, 38, 0, 0.6);
}

/* line 475, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-warning {
  border-color: #fffb00;
}

/* line 478, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-warning:focus {
  border-color: rgba(228, 225, 24, 0.6);
}

/* line 483, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-link {
  border-color: #00ffbf;
}

/* line 486, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input.input-link:focus {
  border-color: rgba(24, 228, 177, 0.6);
}

/* line 492, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input-rounded {
  border-radius: 1.25rem;
  padding: 0.675rem 1.25rem;
}

/* line 497, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input-small {
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
}

/* line 502, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input-medium {
  font-size: 1.25rem;
  padding: 0.875rem 1.25rem;
}

/* line 507, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.input-large {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

/* line 514, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea {
  resize: vertical;
  border: 1px solid #312e2e;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  min-height: 5rem;
  padding: 0.5rem;
}

/* line 522, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea:focus {
  outline: 2px solid rgba(219, 12, 12, 0.6);
  border: 1px solid #b10e0e;
}

/* line 527, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-info {
  border-color: #18c5e4;
}

/* line 530, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-info:focus {
  outline-color: rgba(0, 217, 255, 0.6);
}

/* line 535, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-primary {
  border-color: #9314ce;
}

/* line 538, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-primary:focus {
  border-color: rgba(174, 0, 255, 0.6);
}

/* line 543, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-success {
  border-color: #0ed339;
}

/* line 546, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-success:focus {
  border-color: rgba(0, 255, 55, 0.6);
}

/* line 551, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-danger {
  border-color: #e0371a;
}

/* line 554, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-danger:focus {
  border-color: rgba(255, 38, 0, 0.6);
}

/* line 559, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-warning {
  border-color: #fffb00;
}

/* line 562, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-warning:focus {
  border-color: rgba(228, 225, 24, 0.6);
}

/* line 567, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-link {
  border-color: #00ffbf;
}

/* line 570, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-link:focus {
  border-color: rgba(24, 228, 177, 0.6);
}

/* line 575, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-small {
  font-size: 0.75rem;
  padding: 0.375rem;
}

/* line 580, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-medium {
  font-size: 1.25rem;
  padding: 0.875rem;
}

/* line 585, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.textarea.textarea-large {
  font-size: 1.5rem;
  padding: 1rem;
}

/* line 593, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select {
  font-size: 1rem;
  border-radius: 4px;
  height: 2rem;
  border: 1px solid #312e2e;
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 0 0.5rem;
}

/* line 602, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select:focus {
  outline: 2px solid rgba(219, 12, 12, 0.6);
  border: 1px solid #b10e0e;
}

/* line 607, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-info {
  border-color: #18c5e4;
}

/* line 610, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-info:focus {
  outline-color: rgba(0, 217, 255, 0.6);
}

/* line 615, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-primary {
  border-color: #9314ce;
}

/* line 618, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-primary:focus {
  border-color: rgba(174, 0, 255, 0.6);
}

/* line 623, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-success {
  border-color: #0ed339;
}

/* line 626, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-success:focus {
  border-color: rgba(0, 255, 55, 0.6);
}

/* line 631, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-danger {
  border-color: #e0371a;
}

/* line 634, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-danger:focus {
  border-color: rgba(255, 38, 0, 0.6);
}

/* line 639, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-warning {
  border-color: #fffb00;
}

/* line 642, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-warning:focus {
  border-color: rgba(228, 225, 24, 0.6);
}

/* line 647, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-link {
  border-color: #00ffbf;
}

/* line 650, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-link:focus {
  border-color: rgba(24, 228, 177, 0.6);
}

/* line 655, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-small {
  font-size: 0.75rem;
  padding: 0 0.25rem;
}

/* line 660, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-medium {
  height: 2.5rem;
  font-size: 1.25rem;
  padding: 0 0.75rem;
}

/* line 666, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select.select-large {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 1rem;
}

/* line 673, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special {
  position: relative;
  display: flex;
  width: 15rem;
  height: 2rem;
  line-height: 0;
  font-size: 1rem;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25rem;
}

/* line 674, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

/* line 701, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}

/* line 707, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem;
  background: #45c4c4;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

/* line 719, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special:hover::after {
  color: #5c6664;
}

/* line 723, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-high {
  height: 3rem;
  width: 20rem;
  font-size: 1.25rem;
}

/* line 728, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-high select {
  font-size: 1.125rem;
}

/* line 732, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-high::after {
  content: '\25BC';
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 1rem;
  background: #45c4c4;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

/* line 746, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-low {
  height: 1.5rem;
  width: 12rem;
  font-size: 0.75rem;
}

/* line 751, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-low select {
  font-size: 0.75rem;
}

/* line 755, ../../Desktop/Kaerndal/Kaerndal/sass/elements.scss */
.select-special.select-special-low::after {
  content: '\25BC';
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1rem;
  background: #45c4c4;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

/*# sourceMappingURL=elements.css.map */