/* line 3, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-black {
  background-color: black;
  color: white;
}

/* line 8, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-white {
  background-color: white;
}

/* line 12, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-light {
  background-color: #f3eaea;
}

/* line 16, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-green {
  background-color: #16500e;
}

/* line 20, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-blue {
  background-color: #0e4ed8;
}

/* line 24, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-yellow {
  background-color: #e2e612;
}

/* line 28, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-pink {
  background-color: hotpink;
}

/* line 32, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-dark-blue {
  background-color: #6003f5;
  color: white;
}

/* line 37, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-grey {
  background-color: #332e2e;
  color: white;
}

/* line 11, D:/Kaerndal/Kaerndal/sass/grid.scss */
body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** 
* row section is necessery to use columns
*/
/* line 23, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  /** 
    * column section include class like:
    *   position: total-center, vertical-center, horizontal-center
    *   bg color: bg-color-white, bg-color-black... etc. look in _var.scss     
    *   size: bigger-1, bigger-2 to bigger-12
    *         big-1 to big-12
    *         xlarge-1 to xlarge-12
    *         large-1 to large-12
    *         medium-1 to medium-12
    *         small-1 to small-12
    *   offset size: offset-bigger-1, offset-bigger-2 to offset-bigger-11 
    *                offset-big-1 to offset-big-12 analogic to size section
    *
    * size of section: >1400px, 1400-1200px, 1199-992px, 991-768px, 767-576px, 575-0px
    */
}

/* line 29, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row > * {
  max-width: 100%;
}

/* line 48, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col {
  flex: 1 0 auto;
  padding: 0.5rem;
}

/* line 52, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.total-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 59, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 65, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 73, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-1 {
  flex: 0 0 auto;
  width: calc(8.3333% - 1rem);
}

/* line 78, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-2 {
  flex: 0 0 auto;
  width: calc(16.6667% - 1rem);
}

/* line 83, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-3 {
  flex: 0 0 auto;
  width: calc(25% - 1rem);
}

/* line 88, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-4 {
  flex: 0 0 auto;
  width: calc(33.3333% - 1rem);
}

/* line 93, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-5 {
  flex: 0 0 auto;
  width: calc(41.6667% - 1rem);
}

/* line 98, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-6 {
  flex: 0 0 auto;
  width: calc(50.0% - 1rem);
}

/* line 103, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-7 {
  flex: 0 0 auto;
  width: calc(58.3333% - 1rem);
}

/* line 108, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-8 {
  flex: 0 0 auto;
  width: calc(66.6667% - 1rem);
}

/* line 113, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-9 {
  flex: 0 0 auto;
  width: calc(75% - 1rem);
}

/* line 118, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-10 {
  flex: 0 0 auto;
  width: calc(83.3333% - 1rem);
}

/* line 123, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-11 {
  flex: 0 0 auto;
  width: calc(91.6667% - 1rem);
}

/* line 128, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.bigger-12 {
  flex: 0 0 auto;
  width: calc(100% - 1rem);
}

/* line 133, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-1 {
  margin-left: 8.3333%;
}

/* line 137, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-2 {
  margin-left: 16.6667%;
}

/* line 141, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-3 {
  margin-left: 25%;
}

/* line 145, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-4 {
  margin-left: 33.3333%;
}

/* line 149, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-5 {
  margin-left: 41.6667%;
}

/* line 153, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-6 {
  margin-left: 50.0%;
}

/* line 157, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-7 {
  margin-left: 58.3333%;
}

/* line 161, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-8 {
  margin-left: 66.6667%;
}

/* line 165, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-9 {
  margin-left: 75%;
}

/* line 169, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-10 {
  margin-left: 83.3333%;
}

/* line 173, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-11 {
  margin-left: 91.6667%;
}

/* line 177, D:/Kaerndal/Kaerndal/sass/grid.scss */
.row .col.offset-bigger-12 {
  margin-left: 100%;
}

@media only screen and (max-width: 1400px) {
  /* line 183, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-1 {
    flex: 0 0 auto;
    width: calc(8.3333% - 1rem);
  }
  /* line 188, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-2 {
    flex: 0 0 auto;
    width: calc(16.6667% - 1rem);
  }
  /* line 193, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-3 {
    flex: 0 0 auto;
    width: calc(25% - 1rem);
  }
  /* line 198, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-4 {
    flex: 0 0 auto;
    width: calc(33.3333% - 1rem);
  }
  /* line 203, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-5 {
    flex: 0 0 auto;
    width: calc(41.6667% - 1rem);
  }
  /* line 208, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-6 {
    flex: 0 0 auto;
    width: calc(50.0% - 1rem);
  }
  /* line 213, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-7 {
    flex: 0 0 auto;
    width: calc(58.3333% - 1rem);
  }
  /* line 218, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-8 {
    flex: 0 0 auto;
    width: calc(66.6667% - 1rem);
  }
  /* line 223, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-9 {
    flex: 0 0 auto;
    width: calc(75% - 1rem);
  }
  /* line 228, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-10 {
    flex: 0 0 auto;
    width: calc(83.3333% - 1rem);
  }
  /* line 233, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-11 {
    flex: 0 0 auto;
    width: calc(91.6667% - 1rem);
  }
  /* line 238, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.big-12 {
    flex: 0 0 auto;
    width: calc(100% - 1rem);
  }
  /* line 243, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-1 {
    margin-left: 8.3333%;
  }
  /* line 247, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-2 {
    margin-left: 16.6667%;
  }
  /* line 251, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-3 {
    margin-left: 25%;
  }
  /* line 255, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-4 {
    margin-left: 33.3333%;
  }
  /* line 259, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-5 {
    margin-left: 41.6667%;
  }
  /* line 263, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-6 {
    margin-left: 50.0%;
  }
  /* line 267, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-7 {
    margin-left: 58.3333%;
  }
  /* line 271, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-8 {
    margin-left: 66.6667%;
  }
  /* line 275, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-9 {
    margin-left: 75%;
  }
  /* line 279, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-10 {
    margin-left: 83.3333%;
  }
  /* line 283, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-11 {
    margin-left: 91.6667%;
  }
  /* line 287, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-big-12 {
    margin-left: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  /* line 293, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-1 {
    flex: 0 0 auto;
    width: calc(8.3333% - 1rem);
  }
  /* line 298, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-2 {
    flex: 0 0 auto;
    width: calc(16.6667% - 1rem);
  }
  /* line 303, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-3 {
    flex: 0 0 auto;
    width: calc(25% - 1rem);
  }
  /* line 308, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-4 {
    flex: 0 0 auto;
    width: calc(33.3333% - 1rem);
  }
  /* line 313, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-5 {
    flex: 0 0 auto;
    width: calc(41.6667% - 1rem);
  }
  /* line 318, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-6 {
    flex: 0 0 auto;
    width: calc(50% - 1rem);
  }
  /* line 323, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-7 {
    flex: 0 0 auto;
    width: calc(58.3333% - 1rem);
  }
  /* line 328, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-8 {
    flex: 0 0 auto;
    width: calc(66.6667% - 1rem);
  }
  /* line 333, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-9 {
    flex: 0 0 auto;
    width: calc(75% - 1rem);
  }
  /* line 338, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-10 {
    flex: 0 0 auto;
    width: calc(83.3333% - 1rem);
  }
  /* line 343, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-11 {
    flex: 0 0 auto;
    width: calc(91.6667% - 1rem);
  }
  /* line 348, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.xlarge-12 {
    flex: 0 0 auto;
    width: calc(100% - 1rem);
  }
  /* line 353, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-1 {
    margin-left: 8.3333%;
  }
  /* line 357, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-2 {
    margin-left: 16.6667%;
  }
  /* line 361, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-3 {
    margin-left: 25%;
  }
  /* line 365, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-4 {
    margin-left: 33.3333%;
  }
  /* line 369, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-5 {
    margin-left: 41.6667%;
  }
  /* line 373, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-6 {
    margin-left: 50.0%;
  }
  /* line 377, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-7 {
    margin-left: 58.3333%;
  }
  /* line 381, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-8 {
    margin-left: 66.6667%;
  }
  /* line 385, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-9 {
    margin-left: 75%;
  }
  /* line 389, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-10 {
    margin-left: 83.3333%;
  }
  /* line 393, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-11 {
    margin-left: 91.6667%;
  }
  /* line 397, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-xlarge-12 {
    margin-left: 100%;
  }
}

@media only screen and (max-width: 992px) {
  /* line 403, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-1 {
    flex: 0 0 auto;
    width: calc(8.3333% - 1rem);
  }
  /* line 408, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-2 {
    flex: 0 0 auto;
    width: calc(16.6667% - 1rem);
  }
  /* line 413, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-3 {
    flex: 0 0 auto;
    width: calc(25% - 1rem);
  }
  /* line 418, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-4 {
    flex: 0 0 auto;
    width: calc(33.3333% - 1rem);
  }
  /* line 423, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-5 {
    flex: 0 0 auto;
    width: calc(41.6667% - 1rem);
  }
  /* line 428, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-6 {
    flex: 0 0 auto;
    width: calc(50% - 1rem);
  }
  /* line 433, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-7 {
    flex: 0 0 auto;
    width: calc(58.3333% - 1rem);
  }
  /* line 438, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-8 {
    flex: 0 0 auto;
    width: calc(66.6667% - 1rem);
  }
  /* line 443, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-9 {
    flex: 0 0 auto;
    width: calc(75% - 1rem);
  }
  /* line 448, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-10 {
    flex: 0 0 auto;
    width: calc(83.3333% - 1rem);
  }
  /* line 453, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-11 {
    flex: 0 0 auto;
    width: calc(91.6667% - 1rem);
  }
  /* line 458, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.large-12 {
    flex: 0 0 auto;
    width: calc(100% - 1rem);
  }
  /* line 463, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-1 {
    margin-left: 8.3333%;
  }
  /* line 467, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-2 {
    margin-left: 16.6667%;
  }
  /* line 471, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-3 {
    margin-left: 25%;
  }
  /* line 475, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-4 {
    margin-left: 33.3333%;
  }
  /* line 479, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-5 {
    margin-left: 41.6667%;
  }
  /* line 483, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-6 {
    margin-left: 50.0%;
  }
  /* line 487, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-7 {
    margin-left: 58.3333%;
  }
  /* line 491, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-8 {
    margin-left: 66.6667%;
  }
  /* line 495, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-9 {
    margin-left: 75%;
  }
  /* line 499, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-10 {
    margin-left: 83.3333%;
  }
  /* line 503, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-11 {
    margin-left: 91.6667%;
  }
  /* line 507, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-large-12 {
    margin-left: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* line 513, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-1 {
    flex: 0 0 auto;
    width: calc(8.3333% - 1rem);
  }
  /* line 518, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-2 {
    flex: 0 0 auto;
    width: calc(16.6667% - 1rem);
  }
  /* line 523, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-3 {
    flex: 0 0 auto;
    width: calc(25% - 1rem);
  }
  /* line 528, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-4 {
    flex: 0 0 auto;
    width: calc(33.3333% - 1rem);
  }
  /* line 533, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-5 {
    flex: 0 0 auto;
    width: calc(41.6667% - 1rem);
  }
  /* line 538, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-6 {
    flex: 0 0 auto;
    width: calc(50% - 1rem);
  }
  /* line 543, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-7 {
    flex: 0 0 auto;
    width: calc(58.3333% - 1rem);
  }
  /* line 548, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-8 {
    flex: 0 0 auto;
    width: calc(66.6667% - 1rem);
  }
  /* line 553, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-9 {
    flex: 0 0 auto;
    width: calc(75% - 1rem);
  }
  /* line 558, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-10 {
    flex: 0 0 auto;
    width: calc(83.3333% - 1rem);
  }
  /* line 563, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-11 {
    flex: 0 0 auto;
    width: calc(91.6667% - 1rem);
  }
  /* line 568, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.medium-12 {
    flex: 0 0 auto;
    width: calc(100% - 1rem);
  }
  /* line 573, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-1 {
    margin-left: 8.3333%;
  }
  /* line 577, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-2 {
    margin-left: 16.6667%;
  }
  /* line 581, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-3 {
    margin-left: 25%;
  }
  /* line 585, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-4 {
    margin-left: 33.3333%;
  }
  /* line 589, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-5 {
    margin-left: 41.6667%;
  }
  /* line 593, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-6 {
    margin-left: 50.0%;
  }
  /* line 597, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-7 {
    margin-left: 58.3333%;
  }
  /* line 601, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-8 {
    margin-left: 66.6667%;
  }
  /* line 605, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-9 {
    margin-left: 75%;
  }
  /* line 609, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-10 {
    margin-left: 83.3333%;
  }
  /* line 613, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-11 {
    margin-left: 91.6667%;
  }
  /* line 617, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-medium-12 {
    margin-left: 100%;
  }
}

@media only screen and (max-width: 576px) {
  /* line 624, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-1 {
    flex: 0 0 auto;
    width: calc(8.3333% - 1rem);
  }
  /* line 629, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-2 {
    flex: 0 0 auto;
    width: calc(16.6667% - 1rem);
  }
  /* line 634, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-3 {
    flex: 0 0 auto;
    width: calc(25% - 1rem);
  }
  /* line 639, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-4 {
    flex: 0 0 auto;
    width: calc(33.3333% - 1rem);
  }
  /* line 644, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-5 {
    flex: 0 0 auto;
    width: calc(41.6667% - 1rem);
  }
  /* line 649, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-6 {
    flex: 0 0 auto;
    width: calc(50.0% - 1rem);
  }
  /* line 654, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-7 {
    flex: 0 0 auto;
    width: calc(58.3333% - 1rem);
  }
  /* line 659, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-8 {
    flex: 0 0 auto;
    width: calc(66.6667% - 1rem);
  }
  /* line 664, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-9 {
    flex: 0 0 auto;
    width: calc(75% - 1rem);
  }
  /* line 669, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-10 {
    flex: 0 0 auto;
    width: calc(83.3333% - 1rem);
  }
  /* line 674, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-11 {
    flex: 0 0 auto;
    width: calc(91.6667% - 1rem);
  }
  /* line 679, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.small-12 {
    flex: 0 0 auto;
    width: calc(100% - 1rem);
  }
  /* line 684, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-1 {
    margin-left: 8.3333%;
  }
  /* line 688, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-2 {
    margin-left: 16.6667%;
  }
  /* line 692, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-3 {
    margin-left: 25%;
  }
  /* line 696, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-4 {
    margin-left: 33.3333%;
  }
  /* line 700, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-5 {
    margin-left: 41.6667%;
  }
  /* line 704, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-6 {
    margin-left: 50.0%;
  }
  /* line 708, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-7 {
    margin-left: 58.3333%;
  }
  /* line 712, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-8 {
    margin-left: 66.6667%;
  }
  /* line 716, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-9 {
    margin-left: 75%;
  }
  /* line 720, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-10 {
    margin-left: 83.3333%;
  }
  /* line 724, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-11 {
    margin-left: 91.6667%;
  }
  /* line 728, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .row .col.offset-small-12 {
    margin-left: 100%;
  }
}

/* line 736, D:/Kaerndal/Kaerndal/sass/grid.scss */
.container,
.container-fluid {
  box-sizing: border-box;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  /* line 747, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* line 753, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* line 759, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* line 765, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  /* line 771, D:/Kaerndal/Kaerndal/sass/grid.scss */
  .container {
    max-width: 1320px;
  }
}

/*# sourceMappingURL=grid.css.map */