/* line 3, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-black {
  background-color: black;
  color: white;
}

/* line 8, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-white {
  background-color: white;
}

/* line 12, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-light {
  background-color: #f3eaea;
}

/* line 16, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-green {
  background-color: #16500e;
}

/* line 20, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-blue {
  background-color: #0e4ed8;
}

/* line 24, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-yellow {
  background-color: #e2e612;
}

/* line 28, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-pink {
  background-color: hotpink;
}

/* line 32, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-dark-blue {
  background-color: #6003f5;
  color: white;
}

/* line 37, D:/Kaerndal/Kaerndal/sass/_var.scss */
.bg-color-grey {
  background-color: #332e2e;
  color: white;
}

/* line 100, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.hamburger {
  z-index: 0;
  position: absolute;
}

/** 
* navbar section include class like:
*   size: small-nav, medium-nav, big-nav
*   bg color: bg-color-white, bg-color-black... etc. look in _var.scss     
*/
/* line 111, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  /** 
    * navbar-container include class like:
    *   position section: nav-center, nav-left, nav-right, nav-top, nav-down
    *   bg color: bg-color-white, bg-color-black... etc. look in _var.scss     
    */
}

/* line 116, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar.big-nav {
  height: 6rem;
}

/* line 120, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar.medium-nav {
  height: 5rem;
}

/* line 124, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar.small-nav {
  height: 3.25rem;
}

/* line 127, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar.small-nav .navbar-container {
  padding: 0.125rem 0.75rem;
}

/* line 133, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-logo {
  padding: 0.5rem;
  width: 5rem;
}

/* line 143, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  /** 
        * nav-menu include class like:
        *   display type: default, menu-fluid
        *   position section: menu-center, menu-left, menu-right
        *   bg color: bg-color-white, bg-color-black... etc. look in _var.scss     
        *   color style: red-style
        */
}

/* line 156, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

/* line 163, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.menu-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 169, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.menu-right {
  justify-content: end;
  align-items: center;
}

/* line 174, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.menu-left {
  justify-content: start;
  align-items: center;
}

/* line 179, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.menu-center {
  justify-content: center;
  align-items: center;
}

/* line 184, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu .nav-item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  transition-duration: 0.4s;
}

/* line 192, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu .nav-item .menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* line 204, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu .nav-item:hover {
  background-color: orange;
}

/* line 207, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu .nav-item:hover .menu-link {
  color: white;
  font-weight: bold;
}

/* line 216, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.red-style .nav-item .menu-link {
  color: red;
}

/* line 220, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar-container .nav-menu.red-style .nav-item:hover {
  background-color: white;
}

/* line 228, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar .nav-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 235, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar .nav-left {
  justify-content: start;
}

/* line 239, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar .nav-right {
  justify-content: end;
}

/* line 243, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar .nav-top {
  align-items: flex-start;
}

/* line 247, D:/Kaerndal/Kaerndal/sass/navbar.scss */
.navbar .nav-down {
  align-items: flex-end;
}

@media (max-width: 576px) {
  /* line 6, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger {
    z-index: 0;
    position: absolute;
  }
  /* line 11, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-label {
    z-index: 3;
    display: block;
    position: absolute;
    height: 22px;
    width: 32px;
    padding: 4px;
    cursor: pointer;
  }
  /* line 22, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-label span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  /* line 41, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-line:first-child {
    transform-origin: 0% 0%;
  }
  /* line 45, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* line 50, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, 2px);
    background: #232323;
  }
  /* line 56, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium {
    position: relative;
    flex-direction: column;
    z-index: 1;
    width: 100%;
  }
  /* line 62, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container {
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0 3rem;
    background-color: aqua;
    width: calc(100% - 6rem);
  }
  /* line 70, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container .nav-menu {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  /* line 76, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container:first-of-type {
    padding-top: 3rem;
  }
  /* line 80, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container:last-of-type {
    padding-bottom: 3rem;
  }
  /* line 86, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:not(:checked) ~ .navbar-container {
    display: none;
  }
  /* line 90, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /* line 95, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span:nth-last-child(2) {
    transform: rotate(45deg) translate(-5px, -12px);
  }
}

@media (max-width: 768px) {
  /* line 6, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger {
    z-index: 0;
    position: absolute;
  }
  /* line 11, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-label {
    z-index: 3;
    display: block;
    position: absolute;
    height: 22px;
    width: 32px;
    padding: 4px;
    cursor: pointer;
  }
  /* line 22, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-label span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  /* line 41, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-line:first-child {
    transform-origin: 0% 0%;
  }
  /* line 45, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger-line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* line 50, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, 2px);
    background: #232323;
  }
  /* line 56, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium {
    position: relative;
    flex-direction: column;
    z-index: 1;
    width: 100%;
  }
  /* line 62, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container {
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0 3rem;
    background-color: aqua;
    width: calc(100% - 6rem);
  }
  /* line 70, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container .nav-menu {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  /* line 76, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container:first-of-type {
    padding-top: 3rem;
  }
  /* line 80, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium .navbar-container:last-of-type {
    padding-bottom: 3rem;
  }
  /* line 86, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:not(:checked) ~ .navbar-container {
    display: none;
  }
  /* line 90, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /* line 95, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .hamburger:checked ~ .hamburger-label span:nth-last-child(2) {
    transform: rotate(45deg) translate(-5px, -12px);
  }
  /* line 263, D:/Kaerndal/Kaerndal/sass/navbar.scss */
  .mobile-nav-medium {
    height: 1.875rem;
  }
}

/*# sourceMappingURL=navbar.css.map */