.button {
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: whitesmoke;

    &:hover {
        background-color: rgb(235, 235, 235);
    }

    &.button-info {
        background-color: rgb(24, 197, 228);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(28, 165, 189);
        }
    }

    &.button-primary {
        background-color: rgb(147, 20, 206);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(86, 14, 119);
        }
    }

    &.button-success {
        background-color: rgb(14, 211, 57);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(10, 99, 29);
        }
    }

    &.button-danger {
        background-color: rgb(224, 55, 26);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(112, 28, 13);
        }
    }

    &.button-warning {
        background-color: rgb(228, 225, 24);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(155, 152, 0);
        }
    }

    &.button-link {
        background-color: rgb(24, 228, 177);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(13, 121, 94);
        }
    }

    &.button-size-xlarge {
        font-size: 2rem;
        padding: 1.75rem 2rem;
    }

    &.button-size-large {
        font-size: 1.5rem;
        padding: 1.25rem 1.5rem;
    }

    &.button-size-medium {
        font-size: 1.25rem;
        padding: 1rem 1.25rem;
    }

    &.button-size-small {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }

    &.button-opacity-medium {
        opacity: 50%;
    }

    &.button-opacity-high {
        opacity: 75%;
    }

    &.button-opacity-low {
        opacity: 25%;
    }
}


// CheckBox todo
input[type="checkbox"] {
    height: 1.125rem;
    width: 1.125rem;
}

.classic-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 2px black;
    border: 3px solid white;

    &:checked {
        background-color: black;
    }

    &:disabled {}
}


// input

.input {
    font-size: 1rem;
    color: rgb(22, 24, 23);
    padding: 0.675rem 1rem;
    border-radius: 4px;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    outline: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.input-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.input-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.input-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.input-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.input-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.input-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }
}

.input-rounded {
    border-radius: 1.25rem;
    padding: 0.675rem 1.25rem;
}

.input-small {
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem;
}

.input-medium {
    font-size: 1.25rem;
    padding: 0.875rem 1.25rem;
}

.input-large {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

// TextArea

.textarea {
    resize: vertical;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    border-radius: 4px;
    min-height: 5rem;
    padding: 0.5rem;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.textarea-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.textarea-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.textarea-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.textarea-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.textarea-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.textarea-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }

    &.textarea-small {
        font-size: 0.75rem;
        padding: 0.375rem;
    }

    &.textarea-medium {
        font-size: 1.25rem;
        padding: 0.875rem;
    }

    &.textarea-large {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

// Select

.select {
    font-size: 1rem;
    border-radius: 4px;
    height: 2rem;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    background-color: white;
    padding: 0 0.5rem;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.select-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.select-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.select-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.select-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.select-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.select-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }

    &.select-small{
        font-size: 0.75rem;
        padding: 0 0.25rem;
    }

    &.select-medium{
        height: 2.5rem;
        font-size: 1.25rem;
        padding: 0 0.75rem;
    }

    &.select-large{
        height: 3rem;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

.select-special {
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #5c6664;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
    }

    position: relative;
    display: flex;
    width: 15rem;
    height: 2rem;
    line-height: 0;
    font-size: 1rem;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25rem;

    &:focus {
        border: 1px solid #999;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
        outline: none;
    }

    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 1rem;
        background: #45c4c4;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
    }

    &:hover::after {
        color: #5c6664;
    }

    &.select-special-high{
        height: 3rem;
        width: 20rem;
        font-size: 1.25rem;

        select{
            font-size: 1.125rem;
        }
        
        &::after {
            content: '\25BC';
            font-size: 0.75rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.5rem 1rem;
            background: #45c4c4;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
        }
    }

    &.select-special-low{
        height: 1.5rem;
        width: 12rem;
        font-size: 0.75rem;

        select{
            font-size: 0.75rem;
        }
        
        &::after {
            content: '\25BC';
            font-size: 0.5rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.75rem 1rem;
            background: #45c4c4;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
        }
    }
}