/** 
* button section include class like:
*   size: button-size-xlarge, button-size-large, button-size-medium, button-size-small
*   color: button-info, button-primary, button-success, button-danger, button-warning, button-link  
*   opacity level: button-opacity-medium, button-opacity-high, button-opacity-low 
*/
.button {
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: whitesmoke;

    &:hover {
        background-color: rgb(235, 235, 235);
    }

    &.button-info {
        background-color: rgb(24, 197, 228);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(28, 165, 189);
        }
    }

    &.button-primary {
        background-color: rgb(147, 20, 206);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(86, 14, 119);
        }
    }

    &.button-success {
        background-color: rgb(14, 211, 57);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(10, 99, 29);
        }
    }

    &.button-danger {
        background-color: rgb(224, 55, 26);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(112, 28, 13);
        }
    }

    &.button-warning {
        background-color: rgb(228, 225, 24);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(155, 152, 0);
        }
    }

    &.button-link {
        background-color: rgb(24, 228, 177);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(13, 121, 94);
        }
    }

    &.button-size-xlarge {
        font-size: 2rem;
        padding: 1.75rem 2rem;
    }

    &.button-size-large {
        font-size: 1.5rem;
        padding: 1.25rem 1.5rem;
    }

    &.button-size-medium {
        font-size: 1.25rem;
        padding: 1rem 1.25rem;
    }

    &.button-size-small {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }

    &.button-opacity-medium {
        opacity: 50%;
    }

    &.button-opacity-high {
        opacity: 75%;
    }

    &.button-opacity-low {
        opacity: 25%;
    }
}


/** 
* checkbox section (have alternative version name 'classic-checkbox' looks like sq), include class like:
*   size: checkbox-small, checkbox-primary-size, checkbox-medium, checkbox-large and default size
*   color: checkbox-info, checkbox-primary, checkbox-success, checkbox-danger, checkbox-warning, checkbox-link  
*/
.checkbox {
    accent-color: #9b59b6;

    &.checkbox-info {
        accent-color: rgb(24, 197, 228);
    }

    &.checkbox-primary {
        accent-color: rgb(147, 20, 206);
    }

    &.checkbox-success {
        accent-color: rgb(14, 211, 57);
    }

    &.checkbox-danger {
        accent-color: rgb(224, 55, 26);
    }

    &.checkbox-warning {
        accent-color: rgb(228, 225, 24);
    }

    &.checkbox-link {
        accent-color: rgb(24, 228, 177);
    }

    &.checkbox-small {
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    &.checkbox-primary-size {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    &.checkbox-medium {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }

    &.checkbox-large {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}

/** 
* classic checkbox section include class like:
*   size: classic-checkbox-small, classic-checkbox-medium, classic-checkbox-large and default size
*   color: checkbox-info, checkbox-primary, checkbox-success, checkbox-danger, checkbox-warning, checkbox-link  
*/
.classic-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    --box-shadow-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 2px var(--box-shadow-color);
    border: 3px solid white;
    transition: 0.2s;

    &:checked {
        background-color: black;
    }

    &:disabled {}

    &.classic-checkbox-small {
        width: 0.75rem;
        height: 0.75rem;
        box-shadow: 0 0 0 1px var(--box-shadow-color);
        border: 2px solid white;
    }

    &.classic-checkbox-medium {
        width: 1.375rem;
        height: 1.375rem;
        box-shadow: 0 0 0 3px var(--box-shadow-color);
        border: 4px solid white;
    }

    &.classic-checkbox-large {
        width: 1.675rem;
        height: 1.675rem;
        box-shadow: 0 0 0 4px var(--box-shadow-color);
        border: 5px solid white;
    }

    &.checkbox-info {
        --box-shadow-color:rgb(24, 197, 228);

        &:checked {
            background-color: rgb(24, 197, 228);
        }
    }

    &.checkbox-primary {
        --box-shadow-color:rgb(147, 20, 206);

        &:checked {
            background-color: rgb(147, 20, 206);
        }
    }

    &.checkbox-success {
        --box-shadow-color:rgb(14, 211, 57);

        &:checked {
            background-color: rgb(14, 211, 57);
        }
    }

    &.checkbox-danger {
        --box-shadow-color:rgb(224, 55, 26);

        &:checked {
            background-color: rgb(224, 55, 26);
        }
    }

    &.checkbox-warning {
        --box-shadow-color:rgb(228, 225, 24);

        &:checked {
            background-color: rgb(228, 225, 24);
        }
    }

    &.checkbox-link {
        --box-shadow-color:rgb(24, 228, 177);

        &:checked {
            background-color: rgb(24, 228, 177);
        }
    }
}

/** 
* radio section include class like:
*   size: radio-small, radio-medium, radio-large, radio-primary-size and default size
*   color: radio-info, radio-primary, radio-success, radio-danger, radio-warning, radio-link and default color
*/
.radio{
    accent-color: #9b59b6;

    &.radio-info {
        accent-color: rgb(24, 197, 228);
    }

    &.radio-primary {
        accent-color: rgb(147, 20, 206);
    }

    &.radio-success {
        accent-color: rgb(14, 211, 57);
    }

    &.radio-danger {
        accent-color: rgb(224, 55, 26);
    }

    &.radio-warning {
        accent-color: rgb(228, 225, 24);
    }

    &.radio-link {
        accent-color: rgb(24, 228, 177);
    }

    &.radio-small {
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    &.radio-primary-size {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    &.radio-medium {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }

    &.radio-large {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}

/** 
* switches section include class like:
*   size: rounded-switch-label-small, rounded-switch-label-medium, rounded-switch-label-large and default size
*/
.rounded-switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.rounded-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

.rounded-switch-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 19px;
    transition: 0.3s;
}

.rounded-switch:checked+.rounded-switch-label {
    background: #bada55;
}

.rounded-switch:checked+.rounded-switch-label:after {
    left: calc(100% - 3px); //work like right dot margin
    transform: translateX(-100%);
}

.rounded-switch-label:active:after {
    width: 30px; //active after 70px dot movement
}

.rounded-switch-label-small {
    width: 30px;
    height: 15px;
    border-radius: 15px;

    &::after {
        top: 2px;
        left: 2px;
        width: 11px;
        height: 11px;
        border-radius: 11px;
    }

    &:active:after {
        width: 20px;
    }
}

.rounded-switch:checked+.rounded-switch-label-small:after {
    left: calc(100% - 2px);
}

.rounded-switch-label-medium {
    width: 76px;
    height: 38px;
    border-radius: 38px;

    &::after {
        top: 4px;
        left: 4px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    &:active:after {
        width: 50px;
    }
}

.rounded-switch:checked+.rounded-switch-label-medium:after {
    left: calc(100% - 4px);
}

.rounded-switch-label-large {
    width: 100px;
    height: 50px;
    border-radius: 50px;

    &::after {
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    &:active:after {
        width: 70px;
    }
}

.rounded-switch:checked+.rounded-switch-label-large:after {
    left: calc(100% - 5px);
}



/** 
* input section include class like:
*   size: input-small, input-medium, input-large and default size
*   color: input-info, input-primary, input-success, input-danger, input-warning, input-link and default color
*   rounded version: input-rounded
*/
.input {
    font-size: 1rem;
    color: rgb(22, 24, 23);
    padding: 0.675rem 1rem;
    border-radius: 4px;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    outline: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.input-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.input-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.input-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.input-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.input-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.input-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }
}

.input-rounded {
    border-radius: 1.25rem;
    padding: 0.675rem 1.25rem;
}

.input-small {
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem;
}

.input-medium {
    font-size: 1.25rem;
    padding: 0.875rem 1.25rem;
}

.input-large {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

/** 
* TextArea section include class like:
*   size: textarea-small, textarea-medium, textarea-large and default size
*   color: textarea-info, textarea-primary, textarea-success, textarea-danger, textarea-warning, textarea-link and default color
*/
.textarea {
    resize: vertical;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    border-radius: 4px;
    min-height: 5rem;
    padding: 0.5rem;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.textarea-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.textarea-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.textarea-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.textarea-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.textarea-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.textarea-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }

    &.textarea-small {
        font-size: 0.75rem;
        padding: 0.375rem;
    }

    &.textarea-medium {
        font-size: 1.25rem;
        padding: 0.875rem;
    }

    &.textarea-large {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

/** 
* Select section (have alternative version named 'select-special') include class like:
*   size: select-small, select-medium, select-large and default size
*   color: select-info, select-primary, select-success, select-danger, select-warning, select-link and default color
*/
.select {
    font-size: 1rem;
    border-radius: 4px;
    height: 2rem;
    border: 1px solid rgb(49, 46, 46);
    margin-bottom: 0.5rem;
    background-color: white;
    padding: 0 0.5rem;

    &:focus {
        outline: 2px solid rgba(219, 12, 12, 0.6);
        border: 1px solid rgb(177, 14, 14);
    }

    &.select-info {
        border-color: rgb(24, 197, 228);

        &:focus {
            outline-color: rgba(0, 217, 255, 0.6);
        }
    }

    &.select-primary {
        border-color: rgb(147, 20, 206);

        &:focus {
            border-color: rgba(174, 0, 255, 0.6);
        }
    }

    &.select-success {
        border-color: rgb(14, 211, 57);

        &:focus {
            border-color: rgba(0, 255, 55, 0.6);
        }
    }

    &.select-danger {
        border-color: rgb(224, 55, 26);

        &:focus {
            border-color: rgba(255, 38, 0, 0.6);
        }
    }

    &.select-warning {
        border-color: rgb(255, 251, 0);

        &:focus {
            border-color: rgba(228, 225, 24, 0.6);
        }
    }

    &.select-link {
        border-color: rgb(0, 255, 191);

        &:focus {
            border-color: rgba(24, 228, 177, 0.6);
        }
    }

    &.select-small {
        font-size: 0.75rem;
        padding: 0 0.25rem;
    }

    &.select-medium {
        height: 2.5rem;
        font-size: 1.25rem;
        padding: 0 0.75rem;
    }

    &.select-large {
        height: 3rem;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

.select-special {
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #5c6664;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
    }

    position: relative;
    display: flex;
    width: 15rem;
    height: 2rem;
    line-height: 0;
    font-size: 1rem;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25rem;
    margin: 0.5rem 0;

    &:focus {
        border: 1px solid #999;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
        outline: none;
    }

    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 1rem;
        background: #45c4c4;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
    }

    &:hover::after {
        color: #5c6664;
    }

    &.select-special-high {
        height: 3rem;
        width: 20rem;
        font-size: 1.25rem;

        select {
            font-size: 1.125rem;
        }

        &::after {
            content: '\25BC';
            font-size: 0.75rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.5rem 1rem;
            background: #45c4c4;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
        }
    }

    &.select-special-low {
        height: 1.5rem;
        width: 12rem;
        font-size: 0.75rem;

        select {
            font-size: 0.75rem;
        }

        &::after {
            content: '\25BC';
            font-size: 0.5rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.75rem 1rem;
            background: #45c4c4;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
        }
    }
}
