@import 'var.scss';

.navbar {
    display: flex;
    flex-direction: row;
    height: 4rem;

    &.big-nav {
        height: 6rem;
    }

    &-logo {
        padding: 0.5rem;
        width: 5rem;
    }

    &-container {
        flex: 1;
        display: flex;
        flex-direction: row;

        .menu-left{
            justify-content: flex-start;

        }


        .nav-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;

            .nav-item {
                height: 3rem;
                display: flex;
                flex-direction: row;

                padding: 0;
                transition-duration: 0.4s;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 1rem;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                }

                &:hover {
                    background-color: orange;

                    a {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }

        // .nav-menu {
        //     list-style: none;
        //     padding: 0;
        //     margin: 0;
        //     display: flex;
        //     flex-direction: row;

        //     .nav-item {
        //         padding: 0.75rem 1rem;

        //         // dodac kolory do linkow
        //         .menu-link {
        //             text-decoration: none;
        //             color: white;
        //         }
        //     }
        // }
    }

    .nav-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}